<link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">

{% extends 'base.html'%}
{% import 'macros.html' as macro %}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="jumbotron">
        <h1 style="font-family: 'Kalam', cursive;">HufflePuff Post</h1>
    </div>
</div>


<!-- homepage section -->
<div class="jumbotron ">
    <div class="row" id="general">
        <div class="category col-md-12">
            <h2 class="source_title" style="font-family: 'Kalam', cursive;">General News</h2>
            <ul>
                {{macro.displayNewsourceList(general)}}
            </ul>
        </div>
    </div>
</div>

<div class="row jumbotron" id="business">
    <div class="category col-md-12">
        <h2 class="source_title" style="font-family: 'Kalam', cursive;">Business</h2>
        <ul>
            {{macro.displayNewsourceList(business)}}
        </ul>
    </div>
</div>
<div class="row jumbotron" id="technology">
    <div class="category col-md-12">
        <h2 class="source_title" style="font-family: 'Kalam', cursive;">Technology</h2>
        <ul>
            {{macro.displayNewsourceList(technology)}}
        </ul>
    </div>
</div>
<div class="row jumbotron" id="sports">
    <div class="category col-md-12">
        <h2 class="source_title" style="font-family: 'Kalam', cursive;">Sports</h2>
        <ul>
            {{macro.displayNewsourceList(sports)}}
        </ul>
    </div>
</div>
<div class="row jumbotron" id="entertainment">
    <div class="category col-md-12">
        <h2 class="source_title" style="font-family: 'Kalam', cursive;">Entertainment</h2>
        <ul>
            {{macro.displayNewsourceList(entertainment)}}
        </ul>
    </div>
</div>
<div class="row jumbotron" id="science">
    <div class="category col-md-12">
        <h2 class="source_title" style="font-family: 'Kalam', cursive;">Science</h2>
        <ul>
            {{macro.displayNewsourceList(science)}}
        </ul>
    </div>
</div>
</div>
{% endblock%}

