{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles %}
    {{ super() }}
    <link rel= "stylesheet" href="{{url_for('ststic',filename = 'css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Get the latest news from most trusted sources</h1>
    </div>
</div>

<!-- home section -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>General News</h3>
            <ul>
                {{macro.displaNewsourceList(general)}}
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Business News</h3>
        <ul>
            {{macro.displaNewsourceList(business)}}
        </ul>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Technology News</h3>
        <ul>
            {{macro.displaNewsourceList(technology)}}
        </ul>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Sports News</h3>
        <ul>
            {{macro.displaNewsourceList(sports)}}
        </ul>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Science News</h3>
        <ul>
            {{macro.displaNewsourceList(science)}}
        </ul>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Entertainment News</h3>
        <ul>
            {{macro.displaNewsourceList(entertainment)}}
        </ul>
    </div>
</div>
</div>
{%  endblock %}