<nav class="navbar sticky-top navbar-expand-lg nav class=navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Digital News</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/#general">General</a>
            <a class="dropdown-item" href="/#business">Business</a>
            <a class="dropdown-item" href="/#technology">Technology</a>
            <a class="dropdown-item" href="/#sports">Sports</a>
            <a class="dropdown-item" href="/#entertainment">Entertainment</a>
            <a class="dropdown-item" href="/#science">Science</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 " type="text" name="article_query" placeholder="Search Articles"aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Submit">Search</button>
      </form>
    </div>
  </nav>