<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse"role="navigation">
            <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#general">General</a></li>
            <li><a href="#business">Business</a></li>
            <li><a href="#technology">Technology</a></li>
            <li><a href="#science">Science</a></li>
            <li><a href="#health">Health</a></li>
            <li><a href="#sports">Sports</a></li>
            </ul>
        </div>
    </div>
 </div>